body {
    background-color: #BDFAF1; 
}

.book {
    text-align: center;
    color: #004643;
    background-color: rgb(208, 208, 208);
    text-decoration: none;
}

.book:hover {
    background-color: #004643;
    color: #BDFAF1;
}

.button-box { 
    text-align: center;
}

footer {
    background-color: #004643;
    color: #BDFAF1;
    max-width: 1600px;
}

footer a {
    text-align: center;
    color:#BDFAF1;
    background-color: #004643;
    text-decoration: none;
}

footer a:hover  {
    color: #BDFAF1;
}

footer p {
    font-size: 1.2em;  
}    

footer p a:hover {
    text-decoration: underline;
} 

header {
    background-color:#004643;
    max-width: 1600px;
}

h4 {  
    color:#004643;
} 

#background {
    background-color:#004643;
    height: 725px;
} 

#content {
    text-align: center;
    max-width: 1600px;
}

.home-title {  
    color: #004643;
}

.icon {
    width: 80px;
}

.join {
    text-align: center;
    color: #fcfbfb;
    background-color:black ;
}

.join:hover {
    
   color:#BDFAF1 ;
}

.logo {
width: 80px;
}

#logo_link {
   text-align:left ;
}

main {
   text-align:center ;
}

.msg {
   background-color:#004643;
   color: #BDFAF1;
}

.msg a {
    background-color:rgb(208, 208, 208);
    color : #004643;
    text-decoration: none;
 }

 .msg a:hover {
    background-color:#BDFAF1;
    color : #004643;
    
 }

.msg h2 {   
   color:#BDFAF1;
}

.msg p {   
   
   color:#BDFAF1;
}

nav a {
   text-align:center;
   color:#BDFAF1;
   text-decoration:none;
}
  
nav a:hover {
   background-color:#BDFAF1;;
   color:#004643;
} 

#hero-img {
   max-width : 1600px ;
}
  
#hero-msg h1 {   
   text-align:center ;
} 

#hero-msg h4 {   
   text-align:center ;
}
